.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;

    .background-video{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: -1;
    }

    .hero-content{
        z-index: 1000;
        margin-top: 5%;

            
             .hero-brand{
                width: 40%;
                margin-inline: auto;
                border-bottom: 2px solid white;
                h1{
                    font-size: 15rem;
                    color: var(--white);
                    text-align: center;
                    margin-inline: auto;
             }}

             .hero-description{
                width: 40%;
                margin: 10px auto;
                h2{
                    font-size: 4rem;
                    color: var(--white);
                    text-align: justify;
                }
            }

            .hero-button{
                width: 100%;
                display: flex;
                justify-content: center;
                .button-container{
                    a{
                        border: none;
                        color: var(--white);
                        background-color: var(--orange);
                        font-size: 4rem;
                        font-weight: 700;
                        border-radius: .7rem;
                        padding: 10px;
                    
                        &:hover{
                            background-color: var(--lightorange);
                        }
                        
                    }
            }
            }

        
    }

}