<section class="hero" >
        <video  class="background-video" autoplay loop >
            <source  [src]="videoUrl" type="video/mp4" >
        </video>

        <div class="hero-content" >
            <div class="hero-brand" >
                <h1>
                    <span>I</span>nter<span>W</span>allet
                </h1>
            </div>

            <div class="hero-description" >
                <h2>
                    Welcome to our premier currency exchange service, where we offer accurate and real-time information on global monetary values. We provide valuable insights, reliable data, and user-friendly tools to navigate the complexities of the foreign exchange market.</h2>
            </div>

            <div class="hero-button" >
                <div class="button-container" >
                    <a href="#converter" class="text-decoration-none" id="converter" >Try it now</a>
                </div>
            </div>

        </div>

</section>