<div class="navbar-container fixed-top" >
  <div class="container">
    <header class="d-flex ">
      <div class="brand-container" >
      <a href="/" title="InterWallet" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        <span>I</span>nter
        <span>W</span>allet
      </a>
      </div>
      <ul class="nav nav-pills gap-1">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#converter" class="nav-link">Converter</a></li>
        <li class="nav-item"><a href="#history" class="nav-link">History</a></li>
        <li class="nav-item"><a href="#coins" class="nav-link">Coins</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
      </ul>
    </header>
  </div>
</div>