<section class="converter" id="converter" >
    <h3>Currency Converter</h3>

    <div class="card-container d-flex justify-content-around gap-5" >
        <div class="card" >
            <div class="card-body" >
                <select class="form-select" >
                        <option selected  style="background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png);" >Brazil</option>
                    <option value="1">Mexico</option>
                    <option value="2">Australia</option>
                    <option value="3" >China</option>

                </select>

                <div class="card-content" >
                    <p class="card-text">1.00</p>
                </div>
                    
            </div>
        </div>

        <div class="card" >
            <div class="card-body" >
                <select class="form-select" >
                    <option selected >United States</option>
                    <option value="1">Cuba</option>
                    <option value="2">Australia</option>
                    <option value="3" >China</option>
                    <option value="4" >Asia</option>
                    <option value="5" >Dinamarca</option>

                </select>

                <div class="card-content" >
                    <p class="card-text">0.25</p>
                </div>
            </div>
        </div>
    </div>

</section>