
:root{
    --orange: #D95B00;
    --lightorange:#ff7a1c;
    --red: rgb(214, 7, 3);
    --lightdark: #1E1E1E;
    --gra: rgb(120, 117, 117);
    --white: white;
    --green: rgb(100, 250, 10);
    font-size: 6px;
    font-family: 'Mulish', 'Nunito Sans', 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

@media screen and (max-width: 780px) {
    .hero-content{

        .hero-brand{
           h1{
               font-size: 6rem; // 48px
        }}
}
}
